html {
  height: 100%;
}

body {
  margin: 0;
  background-image: url(../img/bgtile.jpg);
  background-repeat: repeat;
  min-height: 100vh;
  font-family: "Source Serif Pro", serif;
}
.highlight {
  background-image: linear-gradient(
    -100deg,
    rgba(255, 255, 255, 0),
    yellow 85%,
    rgba(255, 255, 255, 0)
  );
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  max-width: 1400px;
  min-height: 100vh;
  margin: auto;
  background-color: #f4f4f4;
  text-align: center;
}
.container {
  position: relative;
}

/* Header */
.header_game,
.footer {
  padding: 10px 20px;
  background-color: #0c2151;
  color: #ffffff;
}
.header_title {
  margin: 10px;
  font-family: "Marck Script", cursive;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb,
    0 4px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

/* NavBar */
.mainmenu {
  width: 100%;
  background-color: #254183;
}
.mainmenu_list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  box-shadow: 10px 0 10px -10px #000 inset, -10px 0 10px -10px #000 inset;
}
.mainmenu_link {
  display: block;
  margin-left: 1px;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
.mainmenu_link:hover {
  text-decoration: none;
  color: #9496de;
}
.my {
  position: absolute;
  margin: 0 auto;
  top: 50px;
  left: 50px;
}
.mainmenu_link.active {
  text-decoration: underline;
}

/* Content HomePage */
.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.game {
  width: 250px;
  height: 50px;
  background-color: #e0d8d2;
  font-weight: 700;
  box-shadow: 0 0 10px 3px rgba(221, 221, 221, 1);
}
.main-page {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 100%;
}
canvas {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Content RulesPage */
.rules-page {
  margin: 0 auto;
  padding: 5%;
  text-align: left;
  /* background-image: url(../img/rules.jpg); */
  background-repeat: repeat;
}
.rules-page_wrapper {
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 0 7px #0c2151, 0 0 0 14px #2e3e74, 0 0 0 21px #9496de;
}
.rules-page_header {
  font-size: 35px;
  text-align: center;
  color: #0c2151;
}
blockquote {
  padding-left: 40%;
  text-align: right;
  font-family: "Marck Script", cursive;
  font-size: 20px;
}
.rules-page_about {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.rules-page_level,
.rules-page_block {
  width: 50%;
}
